html, body {
    background: lightsteelblue;
    margin: 0;
}

header {
    background: #0f2332;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
}

#logo {
    color: white;
    margin: 0;
    padding: 0;
    text-decoration: underline cornflowerblue;
}

nav {
    background: #0f2332;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    border-bottom: outset 1px #0f2332;
}

nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 96px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5 {
    font-family: 'Linux Libertine', 'Georgia', 'Times', serif
}

p, label, a  {
    font-family: sans-serif;
}

#wrapper {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 64px;
    background: white;
    border: outset white 1px;
}

.warning {
    color: red;
    font-weight: bold;
}

.profile-picture {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    padding: 4px;
    margin: 4px;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
}