html, body {
    background: lightsteelblue;
    margin: 0;
}

header {
    background: #0f2332;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
}

#logo {
    color: white;
    margin: 0;
    padding: 0;
    text-decoration: underline cornflowerblue;
}

nav {
    background: #0f2332;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 2px grey;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 48px;
}

nav a {
    padding: 4px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: block;
}

nav a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5 {
    font-family: 'Linux Libertine', 'Georgia', 'Times', serif
}

p, label, a  {
    font-family: sans-serif;
}

p, h1, h2, h3, h4, h5, label {
    color: #222222;
}

#wrapper {
    max-width: 1100px;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 32px;
    background: white;
    border: outset white 2px;
}

.warning {
    color: red;
    font-weight: bold;
}

.error {
    color: red;
    font-weight: bold;
    animation-name: blinker;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes  blinker {
    0% { opacity: 1.0; }
    49% { opacity: 1.0; }
    51% { opacity: 0.0; }
    100% { opacity: 0.0; }
}

.profile-picture {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 4px;
    margin: 4px;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
}

hr {
    width: 100%;
    border-style: outset;
}

.post-body {
    padding: 4px;
    font-size: 14px;
}

#tags {
    list-style-type: none;
    display: flex;
    gap: 16px;
    padding-inline-start: 0;
    margin: 6px;
}

.tag {
    padding: 2px 8px;
    border-radius: 8px;
    border-style: outset;
}

.tag > label {
    font-size: 11px;
}

.card-container {
    display: grid;
}

.money-label{
    font-size: 32px;
    color: darkgreen;
}

.card {
    border: outset white 2px;
    padding: 8px;
}

.posts {
    grid-area: pst;
}

.money {
    grid-area: dlr;
}

.user-info {
    grid-area: usr;
}