{% extends "abstracts/base.twig" %}

{% block title %}
    log in
{% endblock %}

{% block content %}
    <h1> log in </h1>
    <hr>
    {% if error %}
        <label class="error">{{ error }}</label>
    {% endif %}

    <form enctype="multipart/form-data" method="post" action="/security-check">

        <label>name:</label>
        <input name="name" type="text" maxlength="255">
        <label>password:</label>
        <input name="password" type="password" maxlength="255">
        <button type="submit" name="log-in">LOG IN</button>
    </form>

{% endblock %}