{% extends "abstracts/base.twig" %}

{% block title %}
    register
{% endblock %}

{% block content %}
    <h1> register </h1>
    <hr>
    {% if error %}
        <label class="error">{{ error }}</label>
    {% endif %}
    <form enctype="multipart/form-data" method="post" action="/security-check">
        <label>name:</label>
        <input name="name" type="text" maxlength="255">
        <label>password:</label>
        <input name="password" type="password" maxlength="255">
        <button type="submit" name="register">REGISTER</button>
    </form>
    <p>
    <span class="warning">/!\ Do not use a password you use for any other services. This website has poor security. /!\</span>
    </p>
{% endblock %}