{% extends "abstracts/base.twig" %}

{% block title %}
    user - {{ name }}
{% endblock %}

{% block content %}
    <h4> {{ user.name }}</h4>
    <img src="{{ user.profile_picture }}" alt="profile picture">
{% endblock %}