{% extends "abstracts/base.twig" %}

{% block title %}
    user - {{ name }}
{% endblock %}

{% block content %}
    <h1> {{ name }}</h1>
    <img src="{{ profile_picture }}" alt="profile picture">
{% endblock %}