{% extends "abstracts/head.twig" %}

{% block body %}
    <header>
        <a href="/"><h2 id="logo">pog fish</h2></a>
    </header>
    <nav>
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/profile">profile</a></li>
            <li><a href="/post">post</a></li>
            <li><a href="/users">users</a></li>
            <li><a href="/posts">posts</a></li>
            <li><a href="/log-out">log out</a></li>
        </ul>
    </nav>
    <div id="wrapper">
    {% block content %}

    {% endblock %}
    </div>
    <p>version: 69.420</p>
{% endblock %}

