{% extends "abstracts/head.twig" %}

{% block body %}
    <nav>
        <ul>
            <li> <a href="/">home</a></li>
            <li> <a href="/log-in">log in</a></li>
            <li> <a href="/register">register</a></li>
        </ul>
    </nav>
    {% block content %}

    {% endblock %}
    <hr>
    <footer>
    </footer>
{% endblock %}

