{% extends "abstracts/head.twig" %}

{% block body %}
    <header>
        <a href="/"><h2 id="logo">pog fish</h2></a>
    </header>
    <nav>
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/log-in">log in</a></li>
            <li><a href="/register">register</a></li>
            <li><a href="/post">post</a></li>
        </ul>
    </nav>
    <div id="wrapper">
    {% block content %}

    {% endblock %}
    </div>
    <!--

    <footer>
        <ul>
            <li><a href="/about">about</a></li>
            <li>
                <section>
                    <h5>contact info:</h5>
                    <p>google@gmail.com</p>
                </section>
            </li>
        </ul>
    </footer>
    -->
{% endblock %}

