{% extends "abstracts/base.twig" %}

{% block title %}
    post
{% endblock %}

{% block content %}
    <h1> post </h1>
    <hr>
    <form enctype="multipart/form-data" method="post" action="/create-post">
        <label>title:</label>
        <input name="title" type="text" maxlength="255">
        <label>body:</label>
        <textarea name="body" rows="16" cols="140" maxlength="2047"></textarea>
        <h5>Tags:</h5>
        <ul id="tags">
        {% for tag in tags %}
            <li class="tag">
                <label for="{{ tag.name }}">{{ tag.name }}</label>
                <input id="{{ tag.name }}" name="tags[]" type="checkbox" value="{{ tag.id }}">
            </li>
        {% endfor %}
        </ul>
        <br>
        <button type="submit" name="post">POST</button>

    </form>
{% endblock %}