{% extends "abstracts/base.twig" %}

{% block title %}
    post
{% endblock %}

{% block content %}
    <h1> post </h1>
    <hr>
    <form enctype="multipart/form-data" method="post" action="/create-post">
        <label>title:</label>
        <input name="title" type="text" maxlength="255">
        <label>body:</label>
        <textarea name="body" rows="4" cols="60" maxlength="2047"></textarea>
        <button type="submit" name="post">POST</button>
    </form>
{% endblock %}