{% extends "abstracts/base.twig" %}
{% block title %}pog fish{% endblock %}
{% block content %}
    {% if user %}
        <h1>welcome <span class="name">{{ user.name }}</span>!</h1>
        <img class="profile-picture" src="{{ user.profile_picture }}" alt="profile picture">
        <label class="balance">money: {{ user.money }}</label>
    {% else %}
        <h3>make an account or log in</h3>
        <a href="/log-in">log in</a>
        <a href="/register">regsiter</a>
    {% endif %}
{% endblock %}