{% extends "abstracts/base.twig" %}
{% block title %}pog fish{% endblock %}
{% block content %}
    {% if user %}
        <h3>welcome <span class="name">{{ user.name }}</span>!</h3>
        <hr>
        <hr>
        <img class="profile-picture" src="{{ user.profile_picture }}" alt="profile picture">
    {% else %}
        <h3>make an account!</h3>
    {% endif %}
{% endblock %}