{% extends "abstracts/base.twig" %}
{% block title %}pog fish{% endblock %}
{% block content %}
    <h1>pog fish</h1>
    <p>{{ name }}</p>
    <img src="{{ profile_picture }}" alt="profile picture">
{% endblock %}