{% extends "abstracts/base.twig" %}
{% block title %}pog fish{% endblock %}
{% block content %}
    <h3>welcome <span class="name">{{ user.name }}</span>!</h3>
    <hr>
    <img src="{{ user.profile_picture }}" alt="profile picture">
{% endblock %}